/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: var(--neon-pink);
  --bg-color: var(--deep-space);
  --bg-image: url('../images/cover-image-dark.png');
  --text-color: var(--soft-blush);
  --focus-color: var(--electric-purple);
  --header__theme-menu-color: var(--neon-pink);
  --header__text-color: var(--neon-pink);
  --links-color: var(--neon-pink);
}