/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --focus-color: var(--pink-light);
  --accent-color: var(--pink-medium);
  --text-color: var(--deep-space);
  --bg-color: var(--pink-light-xs);
  --header-theme-menu-color: var(--deep-space);
  --header-text-color: var(--deep-space);
  --links-color: var(--deep-space);
  --content-text-color: var(--deep-space);
  --focus-footer-shadow-color: var(--pink-medium);
}

.theme-light .header__rec {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --focus-color: var(--pink-light);
    --accent-color: var(--pink-medium);
    --text-color: var(--deep-space);
    --bg-color: var(--pink-light-xs);
    --header-theme-menu-color: var(--deep-space);
    --header-text-color: var(--deep-space);
    --links-color: var(--deep-space);
    --content-text-color: var(--deep-space);
    --focus-footer-shadow-color: var(--pink-medium);

  }

  .header__rec {
    visibility: hidden;
  }
}