/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --focus-color: var(--pink-light);
  --accent-color: var(--pink-medium);
  --text-color: var(--deep-space);
  --bg-color: var(--deep-space);
  --header__theme-menu-color: var(--deep-space);
  --header__text-color: var(--deep-space);
  --links-color: var(--deep-space);
}

.theme-light .header__rec {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --focus-color: var(--pink-light);
    --accent-color: var(--pink-medium);
    --text-color: var(--deep-space);
    --bg-color: var(--deep-space);
    --header__theme-menu-color: var(--deep-space);
    --header__text-color: var(--deep-space);
    --links-color: var(--deep-space);
  }
}