.page {
  background-color: var(--bg-color, #000);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  margin: 10px;
  min-height: 668px;
  height: 100vh;
  align-items: center;
}

.header__rec {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: var(--font-size-md);
  line-height: 25px;
  font-weight: 400;
  font-family: var(--main-font);
  color: var(--accent-color);
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
  margin-bottom: 12px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  line-height: 23px;
  color: var(--header-theme-menu-color);
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
  transition: outline 0.3s;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-theme-menu-color);
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--content-text-color);
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in srgb, var(--header-theme-menu-color) 40%, transparent);
}

.header__title {
  color: var(--focus-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--font-size-xxl);
  line-height: 0.82;
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-row: 2;
  margin: 0;
  align-self: end;
}

.header__word-focus {
  display: block;
}

.header__text {
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  line-height: 1.3;
  color: var(--text-color);
  font-weight: 700;
  grid-row: 3;
  align-self: center;
  margin-bottom: 30px;
}

.highlighted-word {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
  outline: none;
}

.highlighted-word:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.highlighted-word:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 2px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--content-text-color);
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  margin: 20px 10px 10px;
  gap: 50px;
}

.section_focus_problems,
.section_concentration_cause,
.section_concentration_solution {

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  position: relative;
  flex-grow: 1;
  column-gap: 20px;

}

.section {
  margin: 40px 10px 10px;
}

.content-section {
  margin: 40px 10px 0px;
}

.content-section__title {
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  font-weight: 700;
  color: var(--header-text-color);
}

.content-section__block {
  margin-top: 20px;
}

.content-section__subblock {
  margin-top: 10px;
}

.content-section__subtitle {
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  font-weight: 700;
  color: var(--content-text-color);
}

.content-section__subtitle-lite {
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--content-text-color);
  margin: 20px 0px 10px;
}

.content-section__text {
  margin-top: 10px;
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__title {

  font-family: var(--main-font);
  font-size: var(--font-size-md);
  font-weight: 700;
  line-height: 23px;
  color: var(--content-text-color);

}

.gallery__list {
  list-style: none;
  display: grid;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.gallery__image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  position: relative;
  min-height: 668px;
  height: 100vh;
  margin: 40px 10px 10px;
}

.footer__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--font-size-xxl);
  line-height: 1;
  text-shadow: 2px 2px 0 var(--focus-footer-shadow-color);
  color: var(--focus-color);
  margin: 0px 0px 25px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--header-theme-menu-color);
  bottom: 20px;
  left: 0;
  border-inline-end: none;
  border-block-start: none;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--header-theme-menu-color);
  top: 0;
  right: 0;
  border-inline-start: none;
  border-block-end: none;
}