.page {
  background-color: var(--bg-color, #000);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  position: relative;
  margin: 10px 10px 10px;
  padding-bottom: 56px;
}

.header__rec {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: var(--font-size-md);
  line-height: 25px;
  font-weight: 400;
  font-family: var(--main-font);
  color: var(--accent-color);
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.decorated-zone::after {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-start;
  grid-column: 1;
  justify-self: end;
  margin-top: 63px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  line-height: 23px;
  color: var(--header__theme-menu-color);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-transform: lowercase;
  transition: outline 0.3s;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--header__theme-menu-color);
  cursor: default;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--bg-color);
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in srgb, var(--header__theme-menu-color) 50%, transparent);
}


.header__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--font-size-xxl);
  line-height: 0.82;
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  align-self: end;
  margin-inline: 0px;
  margin-top: 67px;
  color: var(--focus-color);
}

.header__word-focus {
  display: block;
}


.header__text {
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  line-height: 1.3;
  color: var(--text-color);
  margin-block-start: 20px;
  margin-inline-start: 0;
  margin-block-end: 0;
  justify-self: center;
  text-align: start;
  padding: 0px;
  margin: 55px 0px 0px;
  font-weight: 700;
}

.highlighted-word {
  text-shadow: 2px 1px 0 var(--accent-color);
}

.highlighted-word:hover {
  outline: 2px solid color-mix(in srgb, var(--links-color) 50%, transparent);
  outline-offset: 2px;
}

.highlighted-word:focus-visible {
  border-bottom: 1px solid var(--links-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
  display: block;

}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.section_focus_problems,
.section_concentration_cause,
.section_concentration_solution {

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  position: relative;
  flex-grow: 1;
  margin: 40px 10px 10px;
}

.section {
  margin: 40px 10px 10px;
}

.content-section {
  margin: 40px 10px 0px;
}

.content-section__title {
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  font-weight: 700;
  color: var(--header__text-color);
}

.content-section__block {
  margin-top: 20px;
}

.content-section__subblock {
  margin-top: 10px;
}

.content-section__subtitle {
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  font-weight: 700;
  color: var(--bg-color);
}

.content-section__subtitle-lite {
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--bg-color);
  margin: 20px 0px 10px;
}

.content-section__text {
  margin-top: 10px;
  font-family: var(--main-font);
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 10px 0px;
}

.gallery__title {

  font-family: var(--main-font);
  font-size: var(--font-size-md);
  font-weight: 700;
  line-height: 23px;
  color: var(--bg-color);

}

.gallery__list {
  list-style: none;
  display: grid;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.gallery__image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.footer {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: end;
  padding: 0px;
  position: relative;
  min-block-size: 100px;
  text-align: center;
  min-height: 647px;
  margin: 50px 10px 10px;
}

.footer__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--font-size-xxl);
  line-height: 1;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--focus-color);
  margin: 0;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  bottom: 0;
  left: 0;
  border-inline-end: none;
  border-block-start: none;
}

.decorated-zone::after {
  top: 0;
  right: 0;
  border-inline-start: none;
  border-block-end: none;
}