.header__theme-menu {
  grid-column: 1 / -1;
  justify-self: center;
  align-self: start;
  margin-top: 0px;
}

.header__title {
  margin-top: 273px;
}

.header__text {
  margin: 114px 0px 58px;
}

.header__word-focus {
  margin-inline: 94px;
}

.section_focus_problems {
  grid-template-columns: 1fr 2.05fr;
}

.section_concentration_cause .content-section__title {
  max-inline-size: 350px;
  margin-bottom: 11px;
  grid-column: 1 / -1;
}

.header__theme-menu-list {
  flex-direction: row;
}

.section_concentration_cause {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
}

.section_concentration_solution {
  grid-template-columns: 1fr 2.05fr;
}

.gallery__list {
  gap: 20px;
  grid-auto-rows: auto;
  margin-top: 10px;
}

.footer {
  margin: 70px 20px 10px;
  min-height: 729px;
}

