
:root {
  --accent-color: #FF0070;
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');

  --text-color: #f1b2ce;
  --focus-color:#DB00FF;
  --main-font: 'IBM Plex Mono', monospace;    
  --font-size-xxl: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);/* Очень крупный заголовок */    
  --font-size-md: 18px;/* Средний текст (основной контент) */
}
